body {
	background-color: rgb(245,245,245);	
}

.main {
	padding-top: 30px;
}

.header {
	background-color: rgb(240,240,240);
	border-bottom: .2em solid #fff;
	box-shadow: 0px 0px 1.25em #ccc;
}